<%- include ("partials/header"); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(function(index){ %>
    <h1><%= index.title %></h1>
    <p><%= index.postBody.substring(0, 100) + "..." %> <a href="/post/<%= index.title %>">Read More</a></p>
<% }) %>

<%- include ("partials/footer"); -%>


